*:focus {
	outline: none;
}

body {
	margin: 0;
	font-family: 'MuseoModerno', cursive;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 1rem 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}
